footer
    div.container
        div.Footer_block
            div.footer_price-list
                h1 Прайс лист
                a(href="price-list.html")  Прайс лист
            div.footer_contacts
                h1 Контакты
                a(href="contacts.html")  Контакты
        div.footer_info
            div.logo
                a(href="glav.html")
                    img(src="styles/img/image1.png", alt="logo")
            p © Проект жилстрой, 2009 — 2023. Все материалы данного сайта являются объектами авторского права (в том числе дизайн). Запрещается копирование, распространение
                br/ (в том числе путём копирования на другие сайты и ресурсы в Интернете) или любое иное использование информации и объектов без предварительного согласия
                br/ правообладателя. Cайт не является публичной офертой. Строительная компания «Проект жилстрой» оставляет за собой право изменять цены и условия специальных
                br/ предложений без предварительного уведомления. 