header
    div.container
        div.logo 
            a(href="glav.html")
                img(src="styles/img/image1.png", alt="logo")
        nav 
            ul
                li 
                    a(href="contacts.html") Контакты
                li 
                    a(href="price-list.html") Прайс-лист
                li 
                    a(href="contacts.html" style = "color: #750000;") + 7 (4913) 41-93-13
    