doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title livebild.ru
        link(rel="stylesheet", href="styles/style.css")
    body         
        include modules/header
        div.container
                div.contacts
                    h1 Контакты
                    h2 ООО «Проект жилстрой»
                div.Rams
                    div.Rams_1
                        p Многоканальный телефон:
                        h3 + 7 (4913) 41-93-13
                    div.Rams_2
                        p Почта для обращения
                        h3 livebild@yandex.ru
                div.Wait
                    h2 Ждем вас в нашем офисе
                    div.Rams2
                        div.Rams2_1
                            p Адрес:
                            h3 г. Ликино-Дулево, ул. Туманова, д. 9 
                        div.Rams2_2
                            p Время работы
                            h3 Вт - Сб
                            h3 10:00 - 19:00
                        div.Rams2_3
                            p Обращаем внимание
                            h3 Компания «Проект Жилстрой»
                                br/ заключает договоры только
                                br/ на территории офиса.
                div.Map
                    h2 Карта проезда
                    <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Aaed710fd45b04287bbef0ed6464200a1e90dcd7535687244727c3febdb3abaee&amp;width=100%&amp;height=1293&amp;lang=ru_RU&amp;scroll=true"></script>
        div.Consult
            h2 Нужна консультация?
            p Оставьте заявку и наши специалисты ответят на любые вопросы
            p Или свяжитесь с нами по телефону:
            h2 + 7 (4912) 41-92-12
            p г. Ликино-Дулево, ул. Туманова, д. 9 
        include modules/footer