doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title livebild.ru
        link(rel="stylesheet", href="styles/style.css")
    body         
        include modules/header
        div.container
            div.text  
                h1  Дом, который
                h2 нужен 
                    em вам
        div.banner
            div.blackout
                div.container
                    div.text_2
                        h2 Серия
                        h1 ТРАДИЦИЯ
                        h2 новые коттеджи  и 
                            br/ загородные дома
        div.container
            div.Popular
                div.Popular_tovar_1
                    img(src="styles/img/House1.png", alt="image")
                    div.Popular_tovar_1_Opisanie_1
                        h1 Премиум — 
                            br/ большие 
                            br/ коттеджи
                        p Коллекция домов премиум-класса  – 
                            br/ масштабные загородные дома, обеспечивающие 
                            br/ высочайший уровень комфорта. Современные 
                            br/ коттеджи «Премиум» возводятся из 
                            br/ высококачественных материалов: 
                            br/ инновационного клеёного бруса нового профиля 
                            br/ и усиленного каркаса.
        div.container
            div.Popular_tovars
                div.Popular_tovar_2
                    img(src="styles/img/House2.png", alt="image")
                    div.Popular_tovar_2_Opisanie_1
                        h1 Коттеджи
                        p Просторные дома для летнего, зимнего и круглогодичного 
                            br/ проживания. Оригинальный дизайн и комфорт, продуманные 
                            br/ планировки и большие возможности для 
                            br/ реализации интерьерных решений.
                div.Popular_tovar_3
                    div.Popular_tovar_3_Opisanie_1
                        h1 Загородные дома
                        p Легкие, небольшие, классические дачные дома.
                            br/ Строятся из бруса ипо каркасной технологии. 
                            br/ По вашему желанию они могут быть 
                            br/ адаптированы и для зимнего проживания.
                    img(src="styles/img/House3.png", alt="image")
            div.About
                div.About_opisanie_1
                    h1 О компании «Проект 
                        br/ жилстрой»
                div.About_opisanie_2
                    p Строительная компания «Проект жилстрой» с 2010 
                        br/ ода проектирует и возводит строения из клеёного 
                        br/ бруса и по каркасной технологии. В каталоге 
                        br/ компании более 700 проектов - коттеджей,дачных 
                        br/ домов, бань и малых строений.
                    p «Жилстрой» поможет вам на всех этапах: от выбора 
                        br/ участкадо строительства дома, полностью 
                        br/ готового для жизни.О наших услугах подробнее
                    p Наш партнер в Рязани - ООО «Вятич Рязань»
            div.Mans
                img(src="styles/img/Mans.png", alt="image")
            div.Whywe
                div.container
                    div.hr
                    p «Проект жилстрой» — профессиональный подход к строительству, современные
                        br/ проекты и индивидуальные решения. Комплексные решения для комфортной 
                        br/ загородной жизни: достройка и реконструкция, инженерные коммуникации,
                        br/ кредитование и страхование, подбор земельных участков.
                    div.hr(id="hr2") 
            div.Services
                h2 Услуги нашего проекта:
                div.Services_service
                    div.Services_service_1
                        img(src="styles/img/kar1.png", alt="")
                        p Инженерные коммуникации:
                            br/ электрика, отопление, септики,
                            br/ водоподъем
                    div.Services_service_2
                        img(src="styles/img/kar1.png", alt="")
                        p Инженерные коммуникации:
                            br/ электрика, отопление, септики,
                            br/ водоподъем
                    div.Services_service_3
                        img(src="styles/img/kar1.png", alt="")
                        p Инженерные коммуникации:
                            br/ электрика, отопление, септики,
                            br/ водоподъем
                    div.Services_service_4
                        img(src="styles/img/kar1.png", alt="")
                        p Инженерные коммуникации:
                            br/ электрика, отопление, септики,
                            br/ водоподъем
                    div.Services_service_5
                        img(src="styles/img/kar1.png", alt="")
                        p Инженерные коммуникации:
                            br/ электрика, отопление, септики,
                            br/ водоподъем
                    div.Services_service_6
                        img(src="styles/img/kar1.png", alt="")
                        p Инженерные коммуникации:
                            br/ электрика, отопление, септики,
                            br/ водоподъем
                    div.Services_service_7
                        img(src="styles/img/kar1.png", alt="")
                        p Инженерные коммуникации:
                            br/ электрика, отопление, септики,
                            br/ водоподъем
                    div.Services_service_8
                        img(src="styles/img/kar1.png", alt="")
                        p Инженерные коммуникации:
                            br/ электрика, отопление, септики,
                            br/ водоподъем 
        include modules/footer