doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title livebild.ru
        link(rel="stylesheet", href="styles/style.css")
    body         
        include modules/header
        div.container
            div.Praice-list
                h1 Прайс - лист
            div.Premium
                div.premium_opisanie
                    img(src="styles/img/Dom.png", alt="")
                    div.Premium_opisanie_atributs
                        div.Premium_opisanie_atributs_name
                            p Премиум 
                                br/ коттеджи
                        div.Premium_opisanie_atributs_cell
                            p Каркас: от 8 608 000₽
                                br/ Брус: от 9 935 000₽
                div.premium_opisanie
                    img(src="styles/img/Dom.png", alt="")
                    div.Premium_opisanie_atributs
                        div.Premium_opisanie_atributs_name
                            p Премиум 
                                br/ коттеджи
                        div.Premium_opisanie_atributs_cell
                            p Каркас: от 8 608 000₽
                                br/ Брус: от 9 935 000₽  
                div.premium_opisanie
                    img(src="styles/img/Dom.png", alt="")
                    div.Premium_opisanie_atributs
                        div.Premium_opisanie_atributs_name
                            p Премиум 
                                br/ коттеджи
                        div.Premium_opisanie_atributs_cell
                            p Каркас: от 8 608 000₽
                                br/ Брус: от 9 935 000₽  
                div.premium_opisanie
                    img(src="styles/img/Dom.png", alt="")
                    div.Premium_opisanie_atributs
                        div.Premium_opisanie_atributs_name
                            p Премиум 
                                br/ коттеджи
                        div.Premium_opisanie_atributs_cell
                            p Каркас: от 8 608 000₽
                                br/ Брус: от 9 935 000₽  
                div.premium_opisanie
                    img(src="styles/img/Dom.png", alt="")
                    div.Premium_opisanie_atributs
                        div.Premium_opisanie_atributs_name
                            p Премиум 
                                br/ коттеджи
                        div.Premium_opisanie_atributs_cell
                            p Каркас: от 8 608 000₽
                                br/ Брус: от 9 935 000₽  
                div.premium_opisanie
                    img(src="styles/img/Dom.png", alt="")
                    div.Premium_opisanie_atributs
                        div.Premium_opisanie_atributs_name
                            p Премиум 
                                br/ коттеджи
                        div.Premium_opisanie_atributs_cell
                            p Каркас: от 8 608 000₽
                                br/ Брус: от 9 935 000₽  
                div.premium_opisanie
                    img(src="styles/img/Dom.png", alt="")
                    div.Premium_opisanie_atributs
                        div.Premium_opisanie_atributs_name
                            p Премиум 
                                br/ коттеджи
                        div.Premium_opisanie_atributs_cell
                            p Каркас: от 8 608 000₽
                                br/ Брус: от 9 935 000₽  
                div.premium_opisanie
                    img(src="styles/img/Dom.png", alt="")
                    div.Premium_opisanie_atributs
                        div.Premium_opisanie_atributs_name
                            p Премиум 
                                br/ коттеджи
                        div.Premium_opisanie_atributs_cell
                            p Каркас: от 8 608 000₽
                                br/ Брус: от 9 935 000₽  
                div.premium_opisanie
                    img(src="styles/img/Dom.png", alt="")
                    div.Premium_opisanie_atributs
                        div.Premium_opisanie_atributs_name
                            p Премиум 
                                br/ коттеджи
                        div.Premium_opisanie_atributs_cell
                            p Каркас: от 8 608 000₽
                                br/ Брус: от 9 935 000₽                                         
        include modules/footer